.description-container p {
    margin-bottom: calc(1vw + 1vh);
}
.description2 p {
    
    text-align: justify;
    display:block;
    margin-left:2rem;
    margin-right:2rem;
}
.description2 {
    font-size:1.2em;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.description2 ul {
    display: block;
    margin-left:2rem;
    margin-right:2rem;
}
h2 {
    text-align:center;
    font-size:2em;
}
h3 {
    width:80%;
    font-size:1.75em;
    display:block;
    margin-top:3rem;
    margin-left:2rem;
    margin-right:2rem;
}
.descriptive-img {
    width:60%;
    display:block;
    margin-top:1em;
    margin-left:auto;
    margin-right: auto;
}
@media only screen and (max-width: 768px) {
    .description2 p, .description2 ul li {
        font-size:.85em;
    }
    .description2 h2 {
        font-size:1.2em;
    }
    .description2 h3 {
        font-size:1.15em;
    }
}